<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="cardBox">
    <div class="card-alert">
      <div class="sidebars">
        <a href="/main">Search Subpart</a>
        <a href="/pp">Press Part</a>
        <a href="/ctrp">Center Repack</a>
        <div class="dropdown">
          <div class="dropdown-btn1">ALL(Matching) ▼</div>
          <div class="dropdown-content">
            <a href="/mtc1">Line 1</a>
            <a href="/mtc2">Line 2</a>
            <a href="/mtc3">Line 3</a>
            <a href="/mtc4">Line 4</a>
            <a href="/mtc5">Line 5</a>
            <a href="/mtc6">Line 6</a>
          </div>
        </div>
        <div class="dropdown">
          <div class="dropdown-btn2">ALL(ฺBRS) ▼</div>
          <div class="dropdown-content">
            <a href="/cbrsl1">Line 1</a>
            <a href="/cbrsl2">Line 2</a>
            <a href="/cbrsl3">Line 3</a>
            <a href="/cbrsl4">Line 4</a>
            <a href="/cbrsl5">Line 5</a>
            <a href="/cbrsl6">Line 6</a>
          </div>
        </div>
        <a href="/brz">Brazing</a>
        <a href="/suf">Surface</a>
        <div class="dropdown">
          <div class="dropdown-btn3">Setting ▼</div>
          <div class="dropdown-content">
            <a href="/set1">Press Part</a>
            <a href="/set2">Center Repack</a>
          </div>
        </div>
        <a href="/">HOME</a>
      </div>
    </div>
  </div>
</body>

</html>
<script>
  document.querySelector(".dropdown-btn1").addEventListener("click", function () {
    this.parentElement.classList.toggle("active");
  });
  document.querySelector(".dropdown-btn2").addEventListener("click", function () {
    this.parentElement.classList.toggle("active");
  });
  document.querySelector(".dropdown-btn3").addEventListener("click", function () {
    this.parentElement.classList.toggle("active");
  });
</script>