<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <button type="button" id="sidebarToggle" aria-label="Toggle sidebar" class="toggler-menu">
            <span>☰</span>
        </button>
        <a class="navbar-brand denso-logo d-flex flex-column align-items-center text-danger me-auto" href="/"
            style="text-decoration: none">
            <img style="width: 150px;height: 70px;" src="/picture/logos.png">
        </a>

        <div id="clockdate" class="navbar-text me-3">
            <div class="clockdate-wrapper">
                <div id="clock"></div>
                <div id="date"></div>
            </div>
        </div>
    </div>
</nav>

<div class="sidebar" id="sidebar">
    <div class="d-flex align-items-center mt-3 ms-2">
        <button type="button" id="sidebarClose" aria-label="Close sidebar" class="toggler-menu">
            <span>☰</span>
        </button>
        <a class="navbar-brand d-flex flex-column align-items-center text-danger" href="/"
            style="text-decoration: none">
            <img style="width: 150px;height: 70px;" src="/picture/logos.png">
        </a>
    </div>
    <hr class="line">
    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/main">Search Lot ID</a>
        </li>

        <!-- Sub-Part Line Dropdown -->
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#subPartLine"
                aria-expanded="false">
                <i class="fa fa-dot-circle-o" style="font-size:24px"></i> Sub-Part Line
            </a>
            <ul class="collapse nav flex-column ms-3" id="subPartLine">
                <li><a class="nav-link" href="/pp">- Press Part</a></li>
                <li><a class="nav-link" href="#">- (Blank)</a></li>
                <li><a class="nav-link" href="#">- (Blank)</a></li>
            </ul>
        </li>

        <!-- Core Assembly Line Dropdown -->
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#coreAssemblyLine"
                aria-expanded="false">
                <i class="fa fa-dot-circle-o" style="font-size:24px"></i> Core Assembly Line
            </a>
            <ul class="collapse nav flex-column ms-3" id="coreAssemblyLine">
                <li><a class="nav-link" href="/cbrsl1">- Line 1</a></li>
                <li><a class="nav-link" href="/cbrsl2">- Line 2</a></li>
                <li><a class="nav-link" href="/cbrsl3">- Line 3</a></li>
                <li><a class="nav-link" href="/cbrsl4">- Line 4</a></li>
                <li><a class="nav-link" href="/cbrsl5">- Line 5</a></li>
                <li><a class="nav-link" href="/cbrsl6">- Line 6</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#coreMatching"
                aria-expanded="false">
                <i class="fa fa-dot-circle-o" style="font-size:24px"></i> Matching Part
            </a>
            <ul class="collapse nav flex-column ms-3" id="coreMatching">
                <li><a class="nav-link" href="/mtc1">- Line 1</a></li>
                <li><a class="nav-link" href="/mtc2">- Line 2</a></li>
                <li><a class="nav-link" href="/mtc3">- Line 3</a></li>
                <li><a class="nav-link" href="/mtc4">- Line 4</a></li>
                <li><a class="nav-link" href="/mtc5">- Line 5</a></li>
                <li><a class="nav-link" href="/mtc6">- Line 6</a></li>
            </ul>
        </li>
        <!-- Setting Dropdown -->
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#setting"
                aria-expanded="false">
                <i class="fa fa-dot-circle-o" style="font-size:24px"></i> Setting
            </a>
            <ul class="collapse nav flex-column ms-3" id="setting">
                <li><a class="nav-link" href="/setting/modify-pno">- Modify P/No. & STD</a></li>
                <li><a class="nav-link" href="/setting/modify-history">- Modify Table History</a></li>
                <li><a class="nav-link" href="/setting/modify-nav">- Modify Navigation Bar</a></li>
            </ul>
        </li>

    </ul>
</div>

<script src="/js/getTime.js"></script>
<script src="/js/sideBar.js"></script>