<%- include('partials/head') %>
  <%- include('partials/navbar') %>

    <div class="grid-containerq">
      <div class="grid-itemq item1q">
        <%- include('partials/menu') %>
      </div>
      <div class="grid-itemq item2q">
        <div style="width: 100%; overflow-x: auto;height: 39vh;">
          <canvas id="myChart2" style="min-width: 500px; height: 100%;"></canvas>
        </div>
      </div>
      <div class="grid-itemq item3q">
        <div class="container">
          <form id="stockForm">
            <label for="id_part_no">ID :</label>
            <input type="text" id="id_part_no" name="id_part_no" required>

            <label for="part_no">Part Number:</label>
            <input type="text" id="part_no" name="part_no" required>

            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" required>

            <div class="in-out-buttons">
              <button type="button" onclick="submitForm('IN')" class="in">
                <i class="fa fa-save" style="font-size:24px;"></i>IN
              </button>
              <button type="button" onclick="submitForm('OUT')" class="out">
                <i class="fa fa-send-o" style="font-size:24px"></i>OUT
              </button>
            </div>
          </form>
        </div>
      </div>


      <div class="grid-itemq item4q">
        <div class="table-container">
          <table class="table custom-table">
            <thead>
              <tr>
                <th>Seq No</th>
                <th>ID Part No</th>
                <th>Quantity</th>
                <th>Stock in Time</th>
                <th>Stock out Time</th>
              </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/css/ctrp.css">
    <script src="/js/ctrpTable.js"></script>
    <script src="/js/ctrpChart.js"></script>
    <script src="/js/ctrpQuery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <script>
      function submitForm(type) {
        const id_part_no = document.getElementById("id_part_no").value.trim(); // Remove extra spaces
        const partNo = document.getElementById("part_no").value.trim();  // Remove extra spaces
        const quantity = parseInt(document.getElementById("quantity").value);

        // Check if part number or quantity are empty or invalid
        if (!partNo || !quantity || isNaN(quantity)) {
          document.getElementById("message").innerText = "Please enter valid part number and quantity.";
          return;
        }

        const data = {
          id_part_no: id_part_no,
          part_no: partNo,
          quantity: quantity,
          type: type,
        };

        console.log(data);

        // API call to update stock
        fetch('http://192.168.1.106:3000/api/updateStock2', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        })
          .then(response => response.json())
          .then(result => {
            document.getElementById("message").innerText = result.message;
          })
          .catch(error => {
            document.getElementById("message").innerText = "Error: " + error.message;
          });
      }
    </script>

    </body>

    </html>