<%- include('partials/head') %>
<%- include('partials/navbar') %>

<div class="grid-containersx">
    <div class="grid-itemsx item1sx">
        <%- include('partials/menu') %>
    </div>
    <div class="grid-itemsx item2sx">
      <div style="width: 100%; overflow-x: auto;height: 39vh;">
        <canvas id="myChart" style="min-width: 960px; height: 100%;"></canvas>
    </div>
    </div>
    <div class="grid-itemsx item3sx">
        <div style="width: 100%; overflow-x: auto;height: 39vh;">
          <canvas id="myChart2" style="min-width: 960px; height: 100%;"></canvas>
      </div>
    </div>
    <div class="grid-itemsx item4sx">
      <div class="container">
        <div class="form-container">
          <form id="updateForm">
            <label>Search by Core Part Number</label>
            <input type="text" id="corenumber" name="corenumber" required>
      
            <label>Input Core Volume</label>
            <input type="number" id="volumn" name="volumn" required>
      
            <button type="submit" style="background-color: greenyellow; color: #2b3467;"><i class="fa fa-search" style="font-size:36px"></i>Search</button>
            <button onclick="window.location.reload();" style="background-color: yellow; color: #2b3467;"><i class="fa fa-refresh" style="font-size:36px;"></i>Refresh</button>
          </form>
        </div>
      
        <div class="table-container">
          <table id="stockTable">
            <thead>
              <tr>
                <th>Part Number</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>      
</div>
  
</div>

<link rel="stylesheet" href="/styles.css">
<link rel="stylesheet" href="/css/main.css">
<script src="/js/mainChart.js"></script>
</body>
</html>
<style>
</style>