<%- include('partials/head') %>
  <%- include('partials/navbar') %>

    <div class="grid-containers">
      <div class="grid-items item1s">
        <%- include('partials/menu') %>
      </div>
      <div class="grid-items item2s">


        <div style="width: 100%; overflow-x: auto;height: 39vh;">
          <canvas id="myChart2" style="min-width: 500px; height: 100%;"></canvas>
        </div>
      </div>
      <div class="grid-items item3s">
        <div class="table-container">
          <table class="table custom-table">
            <thead>
              <tr>
                <th>Seq No</th>
                <th>ID Part No</th>
                <th>Quantity</th>
                <th>Stock in Time</th>
                <th>Stock out Time</th>
              </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
          </table>
        </div>
      </div>
      <div class="grid-items item4s">
        <div class="container">
          <form id="stockForm">
            <div class="radio-buttons">
              <label>
                <input type="radio" name="formType" value="normal" checked onchange="toggleFormType()"> Normal Form
              </label>
              <label>
                <input type="radio" name="formType" value="partialin" onchange="toggleFormType()"> Partial in Line
              </label>
              <label>
                <input type="radio" name="formType" value="partial" onchange="toggleFormType()"> Partial QR Scan
              </label>
            </div>

            <div id="normalForm">
              <label for="id_part_no">QR code:</label>
              <input type="text" id="id_part_no" name="id_part_no" required>

              <label for="part_no">Part Number:</label>
              <input type="text" id="part_no" name="part_no" required>
            </div>

            <div id="partialinline" style="display: none;">
              <label for="in_qr_code">QR Code:</label>
              <input type="text" id="in_qr_code" name="in_qr_code" disabled>

              <label for="in_part_no">Part Number:</label>
              <input type="text" id="in_part_no" name="in_part_no" disabled>

              <label for="in_quantity">Quantity:</label>
              <input type="text" id="in_quantity" name="in_quantity" required>
            </div>

            <div id="partialForm" style="display: none;">
              <label for="qr_code">QR Code:</label>
              <input type="text" id="qr_code" name="qr_code" disabled>

              <label for="partial_part_no">Part Number:</label>
              <input type="text" id="partial_part_no" name="part_no" disabled>

              <label for="partial_quantity">Quantity:</label>
              <input type="number" id="partial_quantity" name="quantity" disabled>
            </div>

            <div class="in-out-buttons">
              <button type="button" onclick="submitForm('IN')" id="IN" class="in"><i class="fa fa-save"
                  style="font-size:36px;"></i>IN</button>
              <button type="button" onclick="submitForm('OUT')" id="OUT" class="out"><i class="fa fa-send-o"
                  style="font-size:36px"></i>OUT</button>
            </div>
          </form>
        </div>
      </div>



      <link rel="stylesheet" href="/styles.css">
      <link rel="stylesheet" href="/css/pp.css">
      <script src="/js/ppTable.js"></script>
      <script src="/js/ppChart.js"></script>
      <script src="/js/ppQuery.js"></script>
      </body>

      </html>