<%- include('partials/head') %>
  <%- include('partials/navbar') %>

    <div class="grid-containersf">
      <div class="grid-itemsf item1sf">
        <%- include('partials/menu') %>
      </div>
      <div class="grid-itemsf item2sf">
        <div class="container">
          <form id="stockForm">
            <label for="part_no">Part Number:</label>
            <input type="text" id="part_no" name="part_no" required><br><br>

            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" required><br><br>

            <button type="button" onclick="submitForm('IN')" class="in"><i class="fa fa-save"
                style="font-size:24px;"></i>IN</button>
            <button type="button" onclick="submitForm('OUT')" class="out"><i class="fa fa-send-o"
                style="font-size:24px"></i>OUT</button>
          </form>

          <div id="message"></div>

          <div style="width: 100%; overflow-x: auto;height: 39vh;">
            <canvas id="myChart2" style="min-width: 500px; height: 100%;"></canvas>
          </div>
        </div>
      </div>
      <div class="grid-itemsf item3sf">
        <div class="table-container">
          <table class="table custom-table">
            <thead>
              <tr>
                <th>Seq No</th>
                <th>ID Part No</th>
                <th>Quantity</th>
                <th>Stock in Time</th>
                <th>Stock out Time</th>
                <th>Press part</th>
                <th>Press part</th>
                <th>Press part</th>
                <th>Sub part</th>
                <th>Sub part</th>
              </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>


    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/css/suf.css">
    <script src="/js/sufChart.js"></script>
    <script src="/js/sufTable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    </body>

    </html>